{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/plugins/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/styles.css' %}">
    <script src="{% static 'assets/plugins/choices.min.js' %}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="container">
    <header class="header">
        {% block header %}
            {% include 'elems/header.html' %}
        {% endblock %}
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        {% block footer %}
            {% include 'elems/footer.html' %}
        {% endblock %}
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>